.product-card {
  max-width: 800px;
  margin: 20px auto;
  .product-image {
    background-image: url("./../../assets/phone.jpg");
    background-size: cover;
  }
  .actions {
    display: flex;
    align-items: center;
    button {
      margin-right: 20px;
    }
  }
  img {
    max-width: 100%; // Ensures the image is never wider than the card
    height: auto; // Maintains the aspect ratio of the image
    display: block; // Removes bottom space/gap
  }
}
